* {
    font-family: 'Source Sans 3', sans-serif;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    z-index: 1;
    right: 30px;
    background-color: rgb(171, 171, 171);
    color: white;
    border: none;
    opacity: 0;
    border-radius: 0%;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
  }


  #backToTopBtn:hover{
    background-color: rgba(0, 0, 0, 0.7);
transition: ease-in 0.2s;
  }
  
  #backToTopBtn.show {
    animation: fadeIn 0.5s ease-in-out; /* Add fadeIn animation */
    opacity: 1;
    z-index:2222;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    transform: scale(1);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(66, 66, 66);
  }

#downloadBtn {
    width: 100%;
    background-color: grey;
    padding: 10px;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.lyricsHeading{
    margin: 0;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.sargam__logo {
    width: 3.5em;
}

.title {
    font-family: 'EB Garamond', serif;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
}

.title__link {
    text-decoration: none;
    color: black;
    width: 100%;
    max-width: 40rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.github__icon {
    font-size: 1.8rem;
    color: grey;
}

.title__container {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.2rem;
}

.title__container p {
    font-size: 0.8rem;
    color: gray;
    margin: 0;
    padding: 0;
}

.song-container {
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
}

div#resultsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 40rem;
}

.results__items {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    border-bottom: rgb(211, 211, 211) 2px solid;
}

.results__items img {
    width: 210px;
    height: 210px;
}

.song__details {
    width: 100%;
}

.song__details h3 {
    font-weight: 800;
    font-size: 1.35rem;
    margin: 0;

}

.song__details p {
    line-height: 1em;
    margin-top: 8px;
    margin-bottom: 8px;
}


button.loadBtn {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.7rem;
    background-color: grey;
    border: none;
    color: white;
    width: 100%;
    max-width: 15rem;
    cursor: pointer;
}

img#audio__img {
    width: 100%;
    display: block;
    padding-top: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 11111;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    -webkit-animation: fade .5s;
    animation: fade .5s;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow-y: auto;
}

.modal__buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 2.5rem;
    height: 2.5rem;
    /* padding: 1rem; */
    background-color: gray;
    text-align: center;
    color: white;
    float: right;
    /* padding-bottom: 1rem; */
    cursor: pointer;
    font-size: 1.2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    -webkit-animation: fade .5s;
    animation: fade .5s;
}

div#audioPlayer {
    max-width: 25rem;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    max-height: 100%;
}

#sponsor{
    padding-bottom: 20%;
    font-size: 12px;
    font-weight: 600;
}

.audio-player {
    --player-button-width: 3em;
    --sound-button-width: 2em;
    --space: .9em;
    padding: 0;
    margin-bottom: 1rem;
}


.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.player-button {
    background-color: gray;
    color: white;
    width: 1rem;
    height: 1rem;
    border-radius: 0%;
    border: 0;
    width: var(--sound-button-width);
    height: var(--sound-button-width);
    cursor: pointer;
    padding: 0;
    padding: 1.3rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.timeline {
    -webkit-appearance: none;
    width: 100%;
    height: 3.1em;
    background-color: #e5e5e5;
    background-size: 0% 100%;
    background-image: linear-gradient(#b6b6b6, #b6b6b6);
    background-repeat: no-repeat;
}

.timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0.3em;
    height: 2.5em;
    border-radius: 0%;
    cursor: pointer;
    opacity: 1;
    transition: all .1s;
    background-color: gray;
}

.timeline::-moz-range-thumb {
    -webkit-appearance: none;
    width: 1.3em;
    height: 1.3em;
    border-radius: 0%;
    cursor: pointer;
    opacity: 1;
    transition: all .1s;
    background-color: gray;
}

.timeline::-ms-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 0%;
    cursor: pointer;
    opacity: 1;
    transition: all .1s;
    background-color: gray;
}

.timeline::-webkit-slider-thumb:hover {
    background-color: #5c5c5c;
}


.timeline::-moz-range-thumb:hover {
    background-color: #5c5c5c;
}


.timeline::-ms-thumb:hover {
    background-color: #5c5c5c;
}


.timeline::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.timeline::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.timeline::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.sound-button {
    background-color: gray;
    color: white;
    width: 1rem;
    border-radius: 0%;
    height: 1rem;
    border: 0;
    width: var(--sound-button-width);
    height: var(--sound-button-width);
    cursor: pointer;
    padding: 0;
    padding: 1.3rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


h2#audio__name {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

p#audio__artist {
    margin-top: 5px;
    margin-bottom: 5px;
}

#initialBody {
    color: rgb(75, 73, 73);
    font-size: 180%;
    font-weight: 100;
    text-align: center;
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.loader {
    display: none;
    border: 5px solid #f3f3f3;
    border-top: 5px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#searchInput {
    padding: 1em;
    width: 100%;
    font-size: 0.9rem;
    border: grey 1.5px solid;
}

#searchInput:focus {
    border-radius: 5px;
}

#searchBtn {
    padding: 1em;
    font-size: 0.9rem;
    background-color: grey;
    border: none;
    color: white;
    cursor: pointer;
}

#searchBtn:active {
    border-radius: 5px;
}

.input__container {
    display: flex;
    max-width: 40rem;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
}

#modalAudio {
    width: 100%;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 480px) {
    .results__items {
        display: flex;
        flex-direction: column;
    }

    .results__items img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}

@media screen and (min-width: 480px) {
    body {
        font-family: 'Source Sans 3', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;
        flex-direction: column;
    }

    adiv#audioPlayer{
        width: 100%;
    }
}


#lyricsContainer {
    max-height: 100%;
    color: black;
    width: 100%;
    /* padding-bottom: 20%; */
    text-align: justify;
    -webkit-animation: fade .5s;
    animation: fade .5s;
    align-items: center;
    justify-content: center;
}